Repository jhnc-oss/meta-protos, pull requests merged in 2021-08, with the labels that each got.

#15 Cppcheck website updated
  recipes-oss/cppcheck/cppcheck.inc
Labels: documentation, recipe

#19 Switch to --exit-zero
  .github/workflows/ci.yml
Labels: ci

#18 Add audit recipe (#17)
  recipes-oss/audit/audit.inc
  recipes-oss/audit/audit/0001-flush-uid-gid-caches-when-user-group-added-deleted-m.patch
  recipes-oss/audit/audit/Fixed-swig-host-contamination-issue.patch
  recipes-oss/audit/audit_3.0.4.bb
  recipes-oss/packagegroups/packagegroup-protos-oss.bb
  recipes-oss/sshpass/sshpass.inc
  recipes-oss/sshpass/sshpass_1.0.9.bb
Labels: recipe

#22 Add already available layers, closes #21
  README.md
  conf/templates/bblayers.conf.sample
Labels: fix

#23 Add CVE_PRODUCT stubs
  recipes-oss/cmocka/cmocka.inc
  recipes-oss/cppcheck/cppcheck.inc
  recipes-oss/cpputest/cpputest.inc
  recipes-oss/sshpass/sshpass.inc
Labels: enhancement, recipe

#24 Missing bb files in meta-protos/meta (#20)
  conf/templates/conf-notes.txt
  conf/templates/local.conf.sample
  meta/conf/layer.conf
  meta/recipes-graphics/freeglut/freeglut.inc
  meta/recipes-graphics/freeglut/freeglut_3.2.1.bb
Labels: fix
