Repository jhnc-oss/meta-protos, pull requests merged in 2022-01, with the labels that each got.

#60 recipe: update to latest versions
  meta-oe/recipes-support/fmt/fmt_8.0.1.1.bb
  recipes-devtools/extra-cmake-modules/extra-cmake-modules_5.89.0.bb
Labels: recipe, out-of-date_sw

#61 Update year
  LICENSE
Labels: enhancement

#64 recipe: update fmt to most recent version
  meta-oe/recipes-support/fmt/fmt_8.1.0.1.bb
Labels: enhancement, recipe, fix

#66 recipe: update to latest versions
  recipes-devtools/extra-cmake-modules/extra-cmake-modules_5.90.0.bb
  recipes-devtools/packagegroups/packagegroup-protos-devtools.bb
  recipes-oss/minizip-ng/minizip.inc
  recipes-oss/minizip-ng/minizip_3.0.4.bb
Labels: recipe, out-of-date_sw
