Repository jhnc-oss/meta-protos, pull requests merged in 2022-05, with the labels that each got.

#77 Remove extra_mirrors.bblcass
  conf/templates/local.conf.sample
  meta/classes/extra_mirrors.bbclass
  recipes-oss/cpputest/cpputest_4.0.bb
Labels: enhancement

#80 Remove distro
  README.md
  conf/distro/protos.conf
  conf/layer.conf
  conf/templates/bblayers.conf.sample
  conf/templates/conf-notes.txt
  conf/templates/local.conf.sample
  meta-oe/recipes-devtools/sip/sip_4.19.16.bb
  meta-oe/recipes-support/fmt/fmt_8.1.0.1.bb
Labels: layer

#81 Update Audit to v3.0.8
  recipes-oss/audit/audit_3.0.8.bb
Labels: recipe: update

#82 Add xclip 0.13
  recipes-oss/packagegroups/packagegroup-protos-oss.bb
  recipes-oss/xclip/xclip.inc
  recipes-oss/xclip/xclip_0.13.bb
Labels: recipe: new

#84 image: add x11-base to protos-core-image-dev
  recipes-core/images/protos-core-image-dev.bb
Labels: enhancement
