Repository jhnc-oss/meta-protos, pull requests merged in 2022-07, with the labels that each got.

#85 backport: provide newer cmake
  meta/classes/build_settings.bbclass
  meta/conf/layer.conf
  meta/recipes-devtools/cmake/backport.md
  meta/recipes-devtools/cmake/cmake-native_3.22.3.bb
  meta/recipes-devtools/cmake/cmake.inc
  meta/recipes-devtools/cmake/cmake/0001-CMakeDetermineSystem-use-oe-environment-vars-to-load.patch
  meta/recipes-devtools/cmake/cmake/0003-cmake-support-OpenEmbedded-Qt4-tool-binary-names.patch
  meta/recipes-devtools/cmake/cmake/0004-Fail-silently-if-system-Qt-installation-is-broken.patch
  meta/recipes-devtools/cmake/cmake/0005-Disable-use-of-ext2fs-ext2_fs.h-by-cmake-s-internal-.patch
  meta/recipes-devtools/cmake/cmake/OEToolchainConfig.cmake
  meta/recipes-devtools/cmake/cmake/SDKToolchainConfig.cmake.template
  meta/recipes-devtools/cmake/cmake/cmake-setup.py
  meta/recipes-devtools/cmake/cmake/environment.d-cmake.sh
  meta/recipes-devtools/cmake/cmake_3.22.3.bb
  meta/recipes-graphics/freeglut/freeglut.inc
  meta/recipes-graphics/freeglut/freeglut_3.2.1.bb
Labels: recipe: backport

#87 recipe: libdir needs to be executable
  recipes-oss/debugpy/debugpy_1.6.0.bb
Labels: recipe: update, fix

#88 Remove unused audit patch
  recipes-oss/audit/audit/0001-flush-uid-gid-caches-when-user-group-added-deleted-m.patch
Labels: enhancement, recipe: update
