Repository jhnc-oss/meta-protos, pull requests merged in 2023-01, with the labels that each got.

#99 Update year
  LICENSE
Labels: documentation

#96 Sync upstream backports
  recipes-oss/cpputest/backport.md
  recipes-oss/cpputest/cpputest.inc
  recipes-oss/cpputest/cpputest_4.0.bb
  recipes-oss/nlohmann-json/backport.md
  recipes-oss/nlohmann-json/nlohmann-json_3.11.2.bb
Labels: enhancement, recipe: update, upstream

#103 Update cppcheck to 2.10
  recipes-oss/cppcheck/cppcheck_2.10.bb
Labels: recipe: update

#105 Revert "Update cppcheck to 2.10"
  recipes-oss/cppcheck/cppcheck_2.7.bb
Labels: bug, fix
