Repository jhnc-oss/meta-protos, pull requests merged in 2023-08, with the labels that each got.

#157 Merge Kirkstone
  meta-oe/recipes-devtools/grpc/grpc_1.41.1.bb
  meta-python/conf/layer.conf
  meta-python/recipes-core/packagegroups/packagegroup-protos-python.bb
  meta-python/recipes-core/python/python3-crudini/python3-crudini_0.9.4.bb
  meta-python/recipes-devtools/packagegroups/packagegroup-protos-python-devtools.bb
  meta-python/recipes-devtools/python3-rpyc/python3-rpyc_5.3.1.bb
  recipes-core/images/protos-core-image-dev.bb
  recipes-devtools/extra-cmake-modules/extra-cmake-modules_5.102.0.bb
  recipes-devtools/packagegroups/packagegroup-protos-devtools.bb
  recipes-oss/audit/audit.inc
  recipes-oss/audit/audit/Fixed-swig-host-contamination-issue.patch
  recipes-oss/audit/audit_3.0.8.bb
  recipes-oss/cppcheck/cppcheck_2.11.1.bb
  recipes-oss/debugpy/debugpy_1.6.0.bb
  recipes-oss/gammaray/gammaray_git.bb
  recipes-oss/libspnav/libspnav_1.1.bb
  recipes-oss/nlohmann-json/nlohmann-json_3.11.2.bb
  recipes-oss/nlopt/nlopt_2.7.1.bb
  recipes-oss/packagegroups/packagegroup-protos-oss.bb
  recipes-test/catch3/catch3_3.3.2.bb
Labels: yocto: kirkstone

#159 Document branches
  README.md
Labels: documentation

#161 Add jemalloc (mickledore backport)
  meta-oe/recipes-devtools/jemalloc/backport.md
  meta-oe/recipes-devtools/jemalloc/files/0001-test-Disable-optimization-with-clang-for-aligned_all.patch
  meta-oe/recipes-devtools/jemalloc/files/run-ptest
  meta-oe/recipes-devtools/jemalloc/jemalloc_5.3.0.bb
Labels: recipe: backport

#163 pytest backport (Dunfell)
  recipes-devtools/python/backport.md
  recipes-devtools/python/python3-atomicwrites/run-ptest
  recipes-devtools/python/python3-atomicwrites_1.4.0.bb
  recipes-devtools/python/python3-iniconfig_1.1.1.bb
  recipes-devtools/python/python3-pathlib2_2.3.7.bb
  recipes-devtools/python/python3-pluggy/run-ptest
  recipes-devtools/python/python3-pluggy_1.0.0.bb
  recipes-devtools/python/python3-pytest_7.4.0.bb
  recipes-devtools/python/python3-setuptools-scm_6.0.1.bb
  recipes-devtools/python/python3-toml_0.10.2.bb
  recipes-devtools/python/python3-tomli_2.0.1.bb
Labels: recipe: backport, yocto: dunfell

#165 Add python3-opcua-asyncio
  meta-python/recipes-devtools/python/python3-cryptography/0001-define-OAEP-properties-for-all-openssl-versions.patch
  meta-python/recipes-devtools/python/python3-cryptography/0002-remove-some-more-constants-we-dont-need.patch
  meta-python/recipes-devtools/python/python3-cryptography/0003-openssl3-compatibility.patch
  meta-python/recipes-devtools/python/python3-cryptography_%.bbappend
  meta/recipes-connectivity/openssl/openssl/0001-Configure-do-not-tweak-mips-cflags.patch
  meta/recipes-connectivity/openssl/openssl_3.0.10.bb
  recipes-devtools/python/backport.md
  recipes-devtools/python/python3-sortedcontainers_2.4.0.bb
  recipes-devtools/python3-aiosqlite/python3-aiosqlite.inc
  recipes-devtools/python3-aiosqlite/python3-aiosqlite_0.19.0.bb
  recipes-devtools/python3-opcua-asyncio/python3-opcua-asyncio.inc
  recipes-devtools/python3-opcua-asyncio/python3-opcua-asyncio_1.0.3.bb
Labels: recipe: update, recipe: new, recipe: backport, yocto: dunfell
