Repository jhnc-oss/meta-protos, pull requests merged in 2023-07, with the labels that each got.

#144 Use HTTPS Git protocol
  meta-oe/recipes-support/fmt/fmt_8.1.0.1.bb
Labels: recipe: settings

#141 fix mc:x86_64:debugpy build by avoiding host compiler
  recipes-oss/debugpy/debugpy_1.6.0.bb
Labels: bug

#147 Remove Python2 sip recipe (#145)
  meta-oe/recipes-devtools/sip/sip_4.19.16.bb
Labels: recipe: removal

#149 Update CppUTest backport descritpion
  recipes-oss/cpputest/backport.md
Labels: documentation

#152 Add python3-trash-cli (dunfell backport)
  meta-python/recipes-devtools/packagegroups/packagegroup-protos-python-devtools.bb
  meta-python/recipes-devtools/python3-trash-cli/python3-trash-cli.inc
  meta-python/recipes-devtools/python3-trash-cli/python3-trash-cli_0.23.2.13.2.bb
Labels: recipe: new, yocto: dunfell

#153 Update Cppcheck v2.11.1
  recipes-oss/cppcheck/cppcheck_2.11.1.bb
Labels: recipe: update, recipe: settings
