Repository jhnc-oss/meta-protos, pull requests merged in 2023-03, with the labels that each got.

#113 Fix python3-uinput license
  recipes-oss/python3-uinput/python3-uinput_0.11.2.bb
Labels: enhancement

#117 Add crudini pip module
  meta-python/conf/layer.conf
  meta-python/recipes-core/packagegroups/packagegroup-protos-python.bb
  meta-python/recipes-core/python/python3-crudini/python3-crudini_0.9.4.bb
  meta-python/recipes-core/python/python3-uinput/backport.md
  meta-python/recipes-core/python/python3-uinput/python3-uinput/0001-Deal-with-64bit-time_t-default-on-32bit-architecture.patch
  meta-python/recipes-core/python/python3-uinput/python3-uinput/0001-setup-use-setuptools-instead-of-distutils.patch
  meta-python/recipes-core/python/python3-uinput/python3-uinput_0.11.2.bb
  recipes-oss/packagegroups/packagegroup-protos-oss.bb
Labels: recipe: new

#120 Fix missing subdirectory in layer.conf
  meta-python/conf/layer.conf
Labels: layer

#119 Add nlopt and libspnav
  recipes-oss/libspnav/libspnav.inc
  recipes-oss/libspnav/libspnav/configure_libdir.patch
  recipes-oss/libspnav/libspnav_1.1.bb
  recipes-oss/nlopt/nlopt.inc
  recipes-oss/nlopt/nlopt_2.7.1.bb
  recipes-oss/packagegroups/packagegroup-protos-oss.bb
Labels: recipe: new

#126 Add KDAB's gammaray
  recipes-oss/gammaray/gammaray.inc
  recipes-oss/gammaray/gammaray_git.bb
  recipes-oss/packagegroups/packagegroup-protos-oss.bb
Labels: recipe: new
