Repository jhnc-oss/meta-protos, pull requests merged in 2024-02, with the labels that each got.

#203 Update Catch v3.5.2
  recipes-test/catch3/catch3_3.5.2.bb
Labels: recipe: update

#208 PyTest 7.4.4 update and fixes
  meta-python/recipes-core/packagegroups/packagegroup-protos-python.bb
  meta-python/recipes-devtools/python3-exceptiongroup/python3-exceptiongroup.inc
  meta-python/recipes-devtools/python3-exceptiongroup/python3-exceptiongroup_1.2.0.bb
  recipes-devtools/python/backport.md
  recipes-devtools/python/python3-pytest_7.4.4.bb
Labels: recipe: update, recipe: new

#212 Fix obsolete spdx license identifier
  meta-python/recipes-devtools/python3-paramiko/python3-paramiko.inc
  meta-python/recipes-devtools/python3-trash-cli/python3-trash-cli.inc
  recipes-oss/cppcheck/cppcheck.inc
  recipes-oss/nlopt/nlopt.inc
  recipes-oss/xclip/xclip.inc
Labels: bug

#213 Update Cppcheck 2.13.0
  recipes-oss/cppcheck/cppcheck_2.13.0.bb
Labels: recipe: update

#214 Address error in packagegroup-protos-oss
  recipes-oss/packagegroups/packagegroup-protos-oss.bb
Labels: bug
